<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Banking Place - ADMIN Account View</title>
</head>
<body>
    <h1>The Banking Place</h1>
    <button onclick="location.href='/admin/home'">Back</button>
    <h2>Viewing {{account.username.title()}}</h2>

    {% if account %}
    <div>
        <h3>General Information</h3>
        <ul>
            <li>Full Name: {{account.fname}} {{account.lname}}</li>
            <li>SSN: {{account.ssn}}</li>
            <li>Address: {{account.address}}</li>
            <li>Phone: {{account.phone}}</li>
        </ul>
    </div>

    <div>
        <h3>Account Information</h3>
        <ul>
            <li>Username: {{account.username}}</li>
            <li>Account Number: {{account.account_number}}</li>
            <li>Balance: $0.00</li>
        </ul>
    </div>
    {% else %}
        <p>ERROR: No account information can be shown.</p>
    {% endif %}
</body>
</html>