<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Banking Place - ADMIN Account View</title>
</head>
<body>
    <h1>The Banking Place</h1>
    <button onclick="location.href='/admin/home'">Back</button>
    <h2>Viewing accountname</h2>

    <div>
        <h3>General Information</h3>
        <ul>
            <li>Full Name: fname lname</li>
            <li>SSN: ssnnumbers</li>
            <li>Address: addressplace</li>
            <li>Phone: phonenumber</li>
        </ul>
    </div>

    <div>
        <h3>Account Information</h3>
        <ul>
            <li>Account Username: username</li>
            <li>Balance: $00.00</li>
        </ul>
    </div>
</body>
</html>