<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Banking Place - ADMIN Home</title>
</head>
<body>
    <h1>The Banking Place</h1>
    <button onclick="location.href='/'">Log Out</button>
    <h2>ADMIN Home</h2>

    <div>
        <h3>Unapproved Accounts</h3>
        <ul>
            <li>
                <p style="display: inline;">randomnewuser1</p>
                <button style="display: inline;">Approve</button>
            </li>
            <li>
                <p style="display: inline;">randomnewuser2</p>
                <button style="display: inline;">Approve</button>
            </li>
            <li>
                <p style="display: inline;">randomnewuser3</p>
                <button style="display: inline;">Approve</button>
            </li>
        </ul>
    </div>

    <div>
        <h3>Approved Accounts</h3>
        <ul>
            <li>
                <p style="display: inline;">registereduser1</p>
                <button onclick="location.href='/admin/view/accountname'" style="display: inline;">View Account</button>
            </li>
            <li>
                <p style="display: inline;">registereduser2</p>
                <button onclick="location.href='/admin/view/accountname'" style="display: inline;">View Account</button>
            </li>
        </ul>
    </div>
</body>
</html>