<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Banking Place - Sign Up</title>
</head>
<body>
    <h1>The Banking Place</h1>
    <button onclick="location.href='/'">Back</button>
    <h2>Sign Up</h2>

    <form>
        <div>
            <input type="text" id="fname" style="display: block;" placeholder="First Name" autocomplete="off">
            <br>
            <input type="text" id="lname" style="display: block;" placeholder="Last Name" autocomplete="off">
            <br>
            <input type="text" id="ssn" style="display: block;" placeholder="SSN" autocomplete="off">
            <br>
            <input type="text" id="address" style="display: block;" placeholder="Address" autocomplete="off">
            <br>
            <input type="text" id="phone" style="display: block;" placeholder="Phone Number" autocomplete="off">
        </div>

        <br>

        <div>
            <input type="text" id="username" style="display: block;" placeholder="Username" autocomplete="off">
            <br>
            <input type="password" id="password" style="display: block;" placeholder="Password" autocomplete="off">
        </div>
        
        <br>

        <input style="display: block;" type="submit">
    </form>
</body>
</html>